$icomoon-font-family: "Lottery" !default;
$icomoon-font-path: "fonts" !default;

$iconic_deposit1: "\e90c";
$iconic_withdrawal: "\e90d";
$iconic_languages-path1: "\e905";
$iconic_languages-path2: "\e907";
$iconic_languages-path3: "\e908";
$iconic_languages-path4: "\e909";
$iconic_languages-path5: "\e90a";
$iconic_languages-path6: "\e90b";
$iconic_term: "\e903";
$iconic_news: "\e902";
$iconic_arrow_down_small: "\e901";
$iconic_logout: "\e900";
$iconic_prize: "\e94f";
$iconic_external_wallet: "\e950";
$iconic_calendar: "\e951";
$iconic_menu: "\e952";
$iconic_arrow_right: "\e953";
$iconic_arrow_down: "\e954";
$iconic_security: "\e955";
$iconic_trash1: "\e956";
$iconic_search: "\e957";
$iconic_theme: "\e958";
$iconic_qr_code: "\e959";
$iconic_key: "\e95a";
$iconic_upload: "\e95b";
$iconic_eye_off: "\e95d";
$iconic_subtraction: "\e95e";
$iconic_plus: "\e95f";
$iconic_eye_on: "\e960";
$iconic_phone-call: "\e961";
$iconic_back: "\e962";
$iconic_close: "\e963";
$iconic_edit: "\e964";
$iconic_howtoplay: "\e965";
$iconic_statistic: "\e966";
$iconic_order: "\e967";
$iconic_warning: "\e968";
$iconic_deposit: "\e969";
$iconic_dot: "\e96a";
$iconic_referral: "\e96b";
$iconic_email-address: "\e96c";
$iconic_copy: "\e96d";
$iconic_support: "\e96e";
$iconic_tick: "\e96f";
$iconic_information: "\e970";
$iconic_animation: "\e94e";
$iconic_tick-circle: "\e94d";
$iconic_sound-off: "\e945";
$iconic_gamehistory: "\e94b";
$iconic_shield-lock: "\e94c";
$iconic_shield-question: "\e922";
$iconic_shield-tick: "\e948";
$iconic_shield-user: "\e912";
$iconic_clock: "\e941";
$iconic_rule: "\e942";
$iconic_rank: "\e943";
$iconic_infinity: "\e93c";
$iconic_sound-on: "\e93d";
$iconic_arrow_left: "\e938";
$iconic_wallet: "\e904";
$iconic_withdraw: "\e906";
$iconic_star-solid: "\e90f";
$iconic_profile: "\e917";
$iconic_error: "\e924";
$iconic_backspace: "\e930";

